itstep_programming/WCF/WpfFileTransferApp1/WpfFileTransferApp1/Connected Services/FileTransferService1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FileTransferService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FileTransferService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="File" nillable="true" type="tns:File" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFile" nillable="true" type="tns:ArrayOfFile" />
  <xs:complexType name="File">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileLength" type="xs:long" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File" nillable="true" type="tns:File" />
</xs:schema>